/* Remove bullet on first list item */
ul li:first-child  {
    list-style: none;
}

/* Carousel */
.carousel-item {
    background:black;
}

li{
    font-size: 3rem;
    font-family: 'Copperplate', sans-serif;
    color: gold;
    line-height: 2;
}

h1 {
    font-size: 5rem;
    font-family: 'Copperplate', sans-serif;
    color: red;
}